* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, #a5b4fc, #93c5fd);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    border: 1px solid red;
}